.addition {
  background-color: #f6f6f6;
}
.addition__content {
  padding-top: 82px;
  display: flex;
}

.addition__img {
  margin-top: 10px;
  margin-bottom: 107px;
  margin-left: 142px;
  margin-right: 30px;
}
.addition__title {

color: #545454;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
letter-spacing: 2.1px;
line-height: 45.5px;
margin-bottom: 19px;
}
.addition__subtitle {
color: #545454;
font-family: Georgia;
font-size: 15px;
font-weight: 400;
letter-spacing: 0.9px;
line-height: 16.5px;
margin-bottom: 21px;
}
.addition--btn {
  width: 349px;
  height: 43px;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 43px;
  border-radius: 9px;
  margin-bottom: 20px;
  text-align: center;
  & img {
    position: relative;
    top: 4px;
    left: -2px;
  }
}
.addition__text {
  max-width: 380px;
color: #b2b2b2;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 18px;
}