.burger {
  display: none;
  z-index: 10;
}
.burger__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(41, 41, 41, 0.6);
}
.burger__nav {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  color: #CDCDCD;
  margin: 0;
  padding: 0;
  padding-top: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 100%;
  background: #292929;
  animation-direction: normal;
}
@keyframes burger-show {
  0%   { transform: translateX(100%);
  opacity: 0; }
  100% {transform: translateX(0);
  opacity: 1;}
}
@keyframes burger-hide {
  0% {transform: translateX(0);
    opacity: 1;}
  100%   { transform: translateX(100%);
  opacity: 0; }
}

.burger__nav__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 160%;
  margin-bottom: 41px;
  & a {
    color: #CDCDCD;
  }
}
.burger__nav__item_active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  padding-top: 5px;
  padding-bottom:1px;
  width: 243px;
}



@media (max-width: 767px) {
.burger {
  display: block;
  margin: 30px 0 0 0 ;
  border: 0;
  background: none;
  transition: width 2s, height 2s, transform 1s;
  cursor: pointer;
    &__item {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    font-size: 0;
    color:transparent;
    position: relative;
  }
    &__item:before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    top: -10px;
    
  }
      &__item:after {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: -10px;
  }
}
#navToggle:active, #navToggle:focus {
  outline: none;
}
#navToggle::-moz-focus-inner {
  border: 0;
}



}
@media (max-width: 420px) {
  .burger {
    margin: 19px 37px 0 0;
    &__nav {
      padding-top: 140px;
    }
  }
}