.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 10px;
  }
}