.footer {
  background: url('/assets/images/noise_transparent.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  padding-top: 61px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.69230rem;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: 45.5px;
  margin-bottom: 45px;
}
.location__title {
  padding-top: 61px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.69230rem;
  font-weight: 400;
  letter-spacing: 2.0px;
  line-height: 45.5px;
  margin-bottom: 34px;
}

.contacts__email {
  display: flex;
  margin-bottom: 47px;
  & a {
  margin-left: 20px;
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 1.53846rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 23px;
  }
}
.contacts__phone {
  display: flex;
  margin-bottom: 64px;
  & a {
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 1.53846rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 23px;
  margin-left: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.pin__wrapper {
  display: flex;
  margin-bottom: 37px;
  &:last-child {
    margin-bottom: 0;
  }
}
.location__img {
  margin-top: 6px;
}
.img2 {
  margin-top: 0;
}
.location__pin {
  margin-bottom: 35px;
  position: relative;
  & a {
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 1.53846rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 23px;
}
  &:last-child {
  margin-bottom: 0;
}
}
.location__img {
  margin-right: 20px;
}
.footer__image {
  margin-top: 41px;
}