.friends {
  background-color: #f6f6f6;
}
.friends__title {
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 2.69230rem;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: 45.5px;
  padding-top: 81px;
  margin-bottom: 60px;
}
.card__block {
  display: flex;
  justify-content: space-between;
}
.friends__slider {
  display: grid;
  grid-template-columns: auto 990px auto;
 }
.friends__wrapper {
  display: grid;
  grid-template-rows: auto 435px auto;
}
.friends__card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #fafafa;
  text-align: center;
  margin-bottom: 60px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  &:hover {
    background-color: #FFFFFF;
  }
}
.card--white {
  background-color: #FFFFFF
}
.card__img {
  margin-top: 30px;
  margin-bottom: 26px;
}
.card__name {
  color: #545454;
  font-family: Georgia;
  font-size: 1.53846rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 46px;
}
.card__text {
  color: #292929;
  font-family: Georgia;
  font-size: 1.30769rem;
  font-weight: 400;
  letter-spacing: 1.02px;
  line-height: 22.1px;
  position: relative;
    &::after {
      content: "";
      width: 187px;
      height: 52px;
      position: absolute;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      top:-13px;
      right: 42px;
      z-index: 1;
      cursor: pointer;
    }
}
.btn--center {
  text-align: center;
}
.friends--btn {
  width: 261px;
  height: 52px;
  margin-top: 61px;
  margin-bottom: 99px;
}
.slider__arrow {
  position: relative;
  justify-self: start;
  align-self: center;

  cursor: pointer;
    &:last-child {
      justify-self: end;
      align-self: center;
    }
    &:after {
      content: "";
      width: 52px;
      height: 52px;
      position: absolute;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      top:-15px;
      right: -18px;
      z-index: 1;
      cursor: pointer;
    }
}