html {
  box-sizing: border-box;
  font-family: Arial, Georgia, sans-serif;
  font-size: 13px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
