html {
  box-sizing: border-box;
  font-family: Arial, Georgia, sans-serif;
  font-size: 13px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
