html {
  box-sizing: border-box;
  font-family: Arial, Georgia, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
