.header__wrapper {
  background: url('../../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: repeat;
  background-position-x: center;
  width: 100%;
  max-height: 908px;
}
@media (max-width: 1050px) {
  .header__wrapper {
    max-height: 1264px;
  }
}
@media (max-width: 768px) {
  .header__wrapper {
    height: auto;
  }
}
@media (max-width: 376px) {
  .header__wrapper {
    height: 823px;
  }
}
@media (max-width: 420px) {
  .header__wrapper {
    height: 802px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
    &__logo {
      display: flex;
      flex-direction: column;
      padding-top: 61px;
    }
    &__logo__title {
      color: #f1cdb3;
      font-family: Georgia;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 1.91px;
      line-height: 35.2px;
    }
    &__logo__subtitle {
      color: #FFFFFF;
      font-family: Arial;
      font-size: 1rem;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.1em;
      margin-top: 9px;
      text-align: center;
    }
}
@media (max-width: 768px) {
  .header__logo {
    padding-top:31px
  }
}
@media (max-width: 540px) {
  .header__logo {
    padding-top:22px
  }
}
@media (max-width: 320px) {
  .header__logo {
    z-index: 10;
  }
}
