// 
.help__title {
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: 45.4px;
  margin-top: 82px;
  margin-bottom: 58px;
}
.help__items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 58px;
}
.help__items2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 97px;
}
.item__name {
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 23px;
  margin-top: 26px;
}