.header__nav {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.nav__item {
  color: #CDCDCD;
  font-family: Arial;
  font-size: 1.15384rem;
  font-weight: 400;
  line-height: 160%;
  list-style: none;
  margin-top: 54px;
  margin-right: 36px;
  &:hover {
    cursor: pointer;
    color: #FAFAFA;
  }
  &:last-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .nav__item {
    margin-top: 24px;
  }
}
.nav__item_active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  padding-top: 5px;
  padding-bottom:1px;
}
