.header__nav {
  display: flex;
  align-items: center;
  margin-top: 54px;
}
.nav__item {
  color: #cdcdcd;
  font-family: Arial;
  font-size: 1.15384rem;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}
.nav__item_active {
  border-bottom: solid 3px #F1CDB3;
  margin-right: 38px;
}