.header__nav {
  display: flex;
}
.nav__item {
  color: #cdcdcd;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 35px;
  padding-top: 50px;

  &:last-child {
    margin-right: 0;
  }
  &:first-child {
  color: #fafafa;
}
}