.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  flex-direction: column;
  padding-top: 31px;
}
.logo__title {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.92px;
  line-height: 35.2px;
}
.logo__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1rem;
  margin-top: 9px;
  text-align: center;
}