html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Georgia, sans-serif;
  font-size: 13px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 31px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__title {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.92px;
  line-height: 35.2px;
}

.header__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.3px;
  margin-top: 9px;
  text-align: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 36px;
          column-gap: 36px;
}

.nav__item {
  color: #545454;
  font-family: Arial;
  font-size: 1.15384rem;
  font-weight: 400;
  line-height: 160%;
  list-style: none;
  margin-top: 23px;
}

.nav__item:hover {
  cursor: pointer;
  color: #292929;
}

.nav__item_active {
  border-bottom: solid 3px #F1CDB3;
  padding-top: 5px;
  padding-bottom: 2px;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.friends {
  margin-top: 30px;
  background-color: #f6f6f6;
}

.friends__title {
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 2.69230rem;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: 45.5px;
  padding-top: 81px;
  margin-bottom: 60px;
  color: #545454;
}

@media (max-width: 768px) {
  .friends__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .friends__title {
    font-size: 25px;
    padding-top: 42px;
    margin-bottom: 42px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.friends__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

@media (max-width: 969px) {
  .friends__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 64px;
  }
}

@media (max-width: 868px) {
  .friends__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 64px;
  }
}

@media (max-width: 661px) {
  .friends__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.friends__card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #fafafa;
  text-align: center;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.friends__card:hover {
  background-color: #FFFFFF;
}

@media (max-width: 770px) {
  .friends__card--hide {
    display: none;
  }
}

@media (max-width: 422px) {
  .friends__card--hide-sm {
    display: none;
  }
}

.friends__name {
  color: #545454;
  font-family: Georgia;
  font-size: 1.53846rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-top: 26px;
  margin-bottom: 44px;
}

@media (max-width: 320px) {
  .friends__name {
    margin-bottom: 45px;
  }
}

.friends__text {
  color: #292929;
  font-family: Georgia;
  font-size: 1.30769rem;
  font-weight: 400;
  letter-spacing: 1.02px;
  line-height: 24px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.friends__text:hover:after {
  background-color: #F1CDB3;
}

.friends__text::after {
  content: "";
  width: 187px;
  height: 52px;
  position: absolute;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  top: -13px;
  right: 42px;
  z-index: -1;
  cursor: pointer;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 340px;
  margin: 59px auto 0;
  padding-bottom: 100px;
}

.slider__item {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #292929;
}

.slider__item--active {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

.slider__item--active:hover {
  background: #F1CDB3;
}

.slider__item--disable {
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

.slider__item--focus {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

@media (max-width: 768px) {
  .slider {
    margin: 39px auto 0;
    padding-bottom: 76px;
  }
}

@media (max-width: 320px) {
  .slider {
    margin: 42px auto 0;
    padding-bottom: 42px;
  }
}

.footer {
  background: url("../../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}

.footer__img {
  margin-left: 24px;
}

@media (max-width: 1001px) {
  .footer__wrapper {
    padding: 12px 34px 0;
  }
  .footer__img {
    padding-top: 24px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .footer__wrapper {
    padding: 14px 0 0;
  }
  .footer__img img {
    padding-left: 20px;
    width: 94%;
  }
}

.contacts__container {
  max-width: 299px;
}

.contacts__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding-top: 17px;
  padding-bottom: 40px;
  padding-left: 0;
  margin-left: 0;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .contacts__title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 42px;
  }
}

.contacts__title--pin {
  padding-top: 17px;
  padding-bottom: 33px;
}

.contacts__item {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  display: block;
  padding-left: 48px;
  padding-bottom: 41px;
  position: relative;
}

.contacts__item a {
  color: #F1CDB3;
  padding-left: 13px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .contacts__item {
    padding-bottom: 43px;
  }
  .contacts__title--pin {
    padding-top: 20px;
    padding-bottom: 31px;
  }
}

@media (max-width: 320px) {
  .contacts__item {
    margin-left: 24px;
  }
  .contacts__title--pin {
    padding-top: 13px;
    padding-bottom: 40px;
  }
}

@media (max-width: 725px) {
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__item--mail::after {
  content: "";
  width: 40px;
  height: 26px;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../../../assets/images/mail.png");
  background-repeat: no-repeat;
}

.contacts__item--phone::after {
  content: "";
  width: 40px;
  height: 32px;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../../../assets/images/phone.png");
  background-repeat: no-repeat;
}

.contacts__item--pin {
  display: block;
  padding-bottom: 40px;
  padding-left: 41px;
  margin-left: 0px;
}

.contacts__item--pin:last-child::before {
  top: -5px;
}

.contacts__item--pin a {
  line-height: 0;
  padding-left: 0px;
}

.contacts__item--pin::before {
  content: "";
  width: 40px;
  height: 36px;
  z-index: 1;
  top: 6px;
  bottom: 6px;
  left: 0;
  position: absolute;
  background-image: url("../../../assets/images/pin.png");
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  .contacts__item--phone {
    margin-left: 28px;
    padding-bottom: 27px;
  }
  .contacts__title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
  }
  .contacts__item--pin {
    padding-bottom: 45px;
  }
  .contacts__item--pin:last-child {
    padding-bottom: 23px;
  }
}

.burger {
  display: none;
  z-index: 10;
}

.burger__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(41, 41, 41, 0.6);
}

.burger__nav {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  color: #CDCDCD;
  margin: 0;
  padding: 0;
  padding-top: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 100%;
  background: #292929;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes burger-show {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes burger-show {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes burger-hide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes burger-hide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

.burger__nav__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 160%;
  margin-bottom: 41px;
}

.burger__nav__item a {
  color: #CDCDCD;
}

.burger__nav__item_active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  padding-top: 5px;
  padding-bottom: 1px;
  width: 243px;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    margin: 30px 0 0 0;
    border: 0;
    background: none;
    -webkit-transition: width 2s, height 2s, -webkit-transform 1s;
    transition: width 2s, height 2s, -webkit-transform 1s;
    transition: width 2s, height 2s, transform 1s;
    transition: width 2s, height 2s, transform 1s, -webkit-transform 1s;
    cursor: pointer;
  }
  .burger__item {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    font-size: 0;
    color: transparent;
    position: relative;
  }
  .burger__item:before {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    top: -10px;
  }
  .burger__item:after {
    background-color: #000;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: -10px;
  }
  #navToggle:active, #navToggle:focus {
    outline: none;
  }
  #navToggle::-moz-focus-inner {
    border: 0;
  }
}

@media (max-width: 320px) {
  .burger {
    margin: 19px 37px 0 0;
  }
  .burger__nav {
    padding-top: 140px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(41, 41, 41, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__window {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.modal__content {
  background: #FAFAFA;
  border-radius: 9px;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 150px;
  position: relative;
}

@-webkit-keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal__desc {
  padding: 0 22px;
}

.desc__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 46px;
}

.desc__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 9px;
}

.desc__text {
  max-width: 350px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-top: 45px;
}

.desc__info {
  padding: 0;
  list-style-type: none;
  margin-top: 42px;
}

.desc__info__item {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 106%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 13px;
}

.desc__info__item span {
  font-weight: bold;
}

.desc__info__item:before {
  color: #F1CDB3;
  content: "\2022";
  padding-right: 7px;
}

.modal__img {
  max-height: 432px;
}

.modal__img img {
  width: 160%;
  border-radius: 9px 9px 9px 9px;
}

.modal__close {
  width: 52px;
  height: 52px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: -55px;
  right: -55px;
  z-index: 1;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.modal__close:focus {
  outline: 0;
}

.modal__close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #FDDCC4;
}

.fa-times:before {
  position: relative;
  content: "\f00d";
  font-size: 21px;
}

@media (max-width: 1270px) {
  .modal__img img {
    width: 150%;
  }
  .modal__img {
    width: auto;
  }
}

@media (max-width: 1024px) {
  .desc__text {
    font-size: 13px;
  }
  .modal__desc {
    margin-left: 40px;
  }
  .modal__content {
    max-width: 630px;
    margin: 0 auto;
  }
  .modal__img img {
    width: 120%;
  }
}

@media (max-width: 760px) {
  .modal__img {
    display: none;
  }
  .modal__content {
    width: 100%;
  }
  .modal__close {
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 420px) {
  .modal__desc {
    margin-left: 0;
  }
  .desc__name {
    margin-top: 10px;
  }
  .modal__close {
    top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */